@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1024px) {
    header{
        display: none;
    }
}

@media (min-width: 1024px) {
    #wrapper{
        height: 100vh;
    }

    nav.wrapper-box{
        height: auto;
    }

    .need-100{
        height: 100%;
    }

    .need-50{
        height: 50%;
    }

    #tradingview_35f2bc{
        height: 100% !important
    }

    .order-buy-sell{
        height: 100%;
        display: table;
        width: 100%;
    }

    .order-buy-sell .on-desktop{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

@media (max-width: 575.98px) {

    /* .left-side-widget .tab-content {
        height: 40vh;
    } */
    h6.right-side-widget-title {
        margin-top: 20px;
    }

    .advanced .right-side-widget {
        background-color: #131723;
        padding: 5px 0 0 0px;
        border: 0px solid #131723;
        border-radius: 0px;
        overflow: hidden;
        font-size: 12px;
    }
}

@media (max-width: 570px){
    .on-desktop{
        display: none;
    }
}

@media (min-width: 569px){
    .on-device{
        display: none;
    }
}